USE [Form115]
GO
ALTER TABLE [dbo].[Villes] DROP CONSTRAINT [Villes_Pays_fk]
GO
ALTER TABLE [dbo].[Sejours] DROP CONSTRAINT [fk_sejours_hotels]
GO
ALTER TABLE [dbo].[Reservations] DROP CONSTRAINT [Reservations_Utilisateurs_fk]
GO
ALTER TABLE [dbo].[Reservations] DROP CONSTRAINT [fk_reservations_produits]
GO
ALTER TABLE [dbo].[Regions] DROP CONSTRAINT [Regions_Continents_fk]
GO
ALTER TABLE [dbo].[Produits] DROP CONSTRAINT [fk_produits_sejours]
GO
ALTER TABLE [dbo].[Pays] DROP CONSTRAINT [Pays_Regions_fk]
GO
ALTER TABLE [dbo].[Hotels] DROP CONSTRAINT [Hotels_Villes_fk]
GO
ALTER TABLE [dbo].[Hotels] DROP CONSTRAINT [Hotels_Categories_fk]
GO
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserLogins] DROP CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserClaims] DROP CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
/****** Object:  Index [ak_Sejour]    Script Date: 8/27/2015 8:54:15 AM ******/
ALTER TABLE [dbo].[Sejours] DROP CONSTRAINT [ak_Sejour]
GO
/****** Object:  Index [ak_Produit]    Script Date: 8/27/2015 8:54:15 AM ******/
ALTER TABLE [dbo].[Produits] DROP CONSTRAINT [ak_Produit]
GO
/****** Object:  Table [dbo].[Villes]    Script Date: 8/27/2015 8:54:15 AM ******/
DROP TABLE [dbo].[Villes]
GO
/****** Object:  Table [dbo].[Utilisateurs]    Script Date: 8/27/2015 8:54:15 AM ******/
DROP TABLE [dbo].[Utilisateurs]
GO
/****** Object:  Table [dbo].[Sejours]    Script Date: 8/27/2015 8:54:15 AM ******/
DROP TABLE [dbo].[Sejours]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 8/27/2015 8:54:15 AM ******/
DROP TABLE [dbo].[Reservations]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 8/27/2015 8:54:15 AM ******/
DROP TABLE [dbo].[Regions]
GO
/****** Object:  Table [dbo].[Produits]    Script Date: 8/27/2015 8:54:15 AM ******/
DROP TABLE [dbo].[Produits]
GO
/****** Object:  Table [dbo].[Pays]    Script Date: 8/27/2015 8:54:15 AM ******/
DROP TABLE [dbo].[Pays]
GO
/****** Object:  Table [dbo].[Hotels]    Script Date: 8/27/2015 8:54:15 AM ******/
DROP TABLE [dbo].[Hotels]
GO
/****** Object:  Table [dbo].[Continents]    Script Date: 8/27/2015 8:54:15 AM ******/
DROP TABLE [dbo].[Continents]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 8/27/2015 8:54:15 AM ******/
DROP TABLE [dbo].[Categories]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 8/27/2015 8:54:15 AM ******/
DROP TABLE [dbo].[AspNetUsers]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 8/27/2015 8:54:15 AM ******/
DROP TABLE [dbo].[AspNetUserRoles]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 8/27/2015 8:54:15 AM ******/
DROP TABLE [dbo].[AspNetUserLogins]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 8/27/2015 8:54:15 AM ******/
DROP TABLE [dbo].[AspNetUserClaims]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 8/27/2015 8:54:15 AM ******/
DROP TABLE [dbo].[AspNetRoles]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 8/27/2015 8:54:15 AM ******/
DROP TABLE [dbo].[__MigrationHistory]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 8/27/2015 8:54:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 8/27/2015 8:54:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 8/27/2015 8:54:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 8/27/2015 8:54:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 8/27/2015 8:54:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 8/27/2015 8:54:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 8/27/2015 8:54:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categories](
	[IdCategorie] [tinyint] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](20) NOT NULL,
 CONSTRAINT [Pk_Categorie] PRIMARY KEY CLUSTERED 
(
	[IdCategorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Continents]    Script Date: 8/27/2015 8:54:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Continents](
	[idContinent] [int] NOT NULL,
	[name] [varchar](20) NULL,
 CONSTRAINT [Continents_pk] PRIMARY KEY CLUSTERED 
(
	[idContinent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Hotels]    Script Date: 8/27/2015 8:54:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Hotels](
	[IdHotel] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](60) NULL,
	[IdVille] [int] NULL,
	[Categorie] [tinyint] NULL,
	[Description] [ntext] NULL,
	[Photo] [varchar](60) NULL,
 CONSTRAINT [Pk_Hotels] PRIMARY KEY CLUSTERED 
(
	[IdHotel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pays]    Script Date: 8/27/2015 8:54:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pays](
	[CodeIso3] [char](3) NOT NULL,
	[Name] [char](52) NOT NULL,
	[surfacearea] [float] NOT NULL,
	[indepyear] [smallint] NULL,
	[population] [int] NOT NULL,
	[lifeexpectancy] [float] NULL,
	[gnp] [float] NULL,
	[gnpold] [float] NULL,
	[localName] [char](45) NOT NULL,
	[CodeIso2] [char](2) NOT NULL,
	[idRegion] [int] NOT NULL,
	[idgovform] [int] NOT NULL,
	[idheadofstate] [int] NULL,
 CONSTRAINT [Pays_pk] PRIMARY KEY CLUSTERED 
(
	[CodeIso3] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Produits]    Script Date: 8/27/2015 8:54:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produits](
	[IdProduit] [int] IDENTITY(1,1) NOT NULL,
	[IdSejour] [int] NOT NULL,
	[NbPlaces] [int] NOT NULL,
	[DateDepart] [date] NOT NULL,
	[Prix] [numeric](18, 0) NULL,
 CONSTRAINT [Pk_Produits] PRIMARY KEY CLUSTERED 
(
	[IdProduit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Regions]    Script Date: 8/27/2015 8:54:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Regions](
	[idRegion] [int] NOT NULL,
	[name] [varchar](26) NOT NULL,
	[idContinent] [int] NOT NULL,
 CONSTRAINT [Regions_pk] PRIMARY KEY CLUSTERED 
(
	[idRegion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 8/27/2015 8:54:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[IdReservation] [int] IDENTITY(1,1) NOT NULL,
	[IdProduit] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[IdUtilisateur] [int] NOT NULL,
 CONSTRAINT [Pk_Reservations] PRIMARY KEY CLUSTERED 
(
	[IdReservation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sejours]    Script Date: 8/27/2015 8:54:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sejours](
	[IdSejour] [int] IDENTITY(1,1) NOT NULL,
	[IdHotel] [int] NOT NULL,
	[Duree] [tinyint] NOT NULL,
 CONSTRAINT [Pk_Sejours] PRIMARY KEY CLUSTERED 
(
	[IdSejour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Utilisateurs]    Script Date: 8/27/2015 8:54:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Utilisateurs](
	[IdUtilisateur] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](60) NULL,
	[Prenom] [nvarchar](60) NULL,
	[Telephone] [varchar](12) NULL,
 CONSTRAINT [Pk_Utilisateurs] PRIMARY KEY CLUSTERED 
(
	[IdUtilisateur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Villes]    Script Date: 8/27/2015 8:54:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Villes](
	[idVille] [int] NOT NULL,
	[name] [char](35) NOT NULL,
	[CodeIso3] [char](3) NOT NULL,
	[district] [char](20) NOT NULL,
	[population] [int] NOT NULL,
	[isCapital] [smallint] NOT NULL DEFAULT ((0)),
 CONSTRAINT [Villes_pk] PRIMARY KEY CLUSTERED 
(
	[idVille] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'NormalUser')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'7f217fb1-91d6-4205-bfd9-0417edc28327', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'd8c9bbc5-c14e-4f98-8d9d-a698a5ffcdd5', N'2')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'7f217fb1-91d6-4205-bfd9-0417edc28327', N'adminForm115@gmail.fr', 0, N'AHXwK3eIbuTN2qDVKSC70o7kF62a6gpWkJoo65nUWixA0Pe+av8BJCsGDQMp781Z8w==', N'11ae88c0-0dd0-4669-a301-4a11b2f55962', NULL, 0, 0, NULL, 1, 0, N'adminForm115@gmail.fr')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'd8c9bbc5-c14e-4f98-8d9d-a698a5ffcdd5', N'Form115@gmail.fr', 0, N'AFs4UDtoLVvaFDFxCeFbdJODnaTrrpm+oTb0BQXEm15M36kX/Nro1Nt4+ph5ZgtVIQ==', N'73012cc4-c8f6-420a-94ca-9a5753868e7d', NULL, 0, 0, NULL, 1, 0, N'Form115@gmail.fr')
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([IdCategorie], [Description]) VALUES (1, N'1 étoiles')
INSERT [dbo].[Categories] ([IdCategorie], [Description]) VALUES (2, N'2 étoiles')
INSERT [dbo].[Categories] ([IdCategorie], [Description]) VALUES (3, N'3 étoiles')
SET IDENTITY_INSERT [dbo].[Categories] OFF
INSERT [dbo].[Continents] ([idContinent], [name]) VALUES (1, N'Afrique')
INSERT [dbo].[Continents] ([idContinent], [name]) VALUES (2, N'Antarctique')
INSERT [dbo].[Continents] ([idContinent], [name]) VALUES (3, N'Asie')
SET IDENTITY_INSERT [dbo].[Hotels] ON 

INSERT [dbo].[Hotels] ([IdHotel], [Nom], [IdVille], [Categorie], [Description], [Photo]) VALUES (2, N'Hotel Manhattan', 1, 2, N'Dans ce luxurieux hotel...', NULL)
INSERT [dbo].[Hotels] ([IdHotel], [Nom], [IdVille], [Categorie], [Description], [Photo]) VALUES (3, N'Hotel California', 5, 3, N'Hotel de passe...', NULL)
INSERT [dbo].[Hotels] ([IdHotel], [Nom], [IdVille], [Categorie], [Description], [Photo]) VALUES (5, N'El Gringo Hotel', 84, 5, N'Hotel festif', NULL)
SET IDENTITY_INSERT [dbo].[Hotels] OFF
INSERT [dbo].[Pays] ([CodeIso3], [Name], [surfacearea], [indepyear], [population], [lifeexpectancy], [gnp], [gnpold], [localName], [CodeIso2], [idRegion], [idgovform], [idheadofstate]) VALUES (N'ABW', N'Aruba                                               ', 193, NULL, 103000, 78.4, 828, 793, N'Aruba                                        ', N'AW', 5, 11, 31)
INSERT [dbo].[Pays] ([CodeIso3], [Name], [surfacearea], [indepyear], [population], [lifeexpectancy], [gnp], [gnpold], [localName], [CodeIso2], [idRegion], [idgovform], [idheadofstate]) VALUES (N'AFG', N'Afghanistan                                         ', 652090, 1919, 22720000, 45.9, 5976, NULL, N'Afganistan/Afqanestan                        ', N'AF', 22, 31, 103)
INSERT [dbo].[Pays] ([CodeIso3], [Name], [surfacearea], [indepyear], [population], [lifeexpectancy], [gnp], [gnpold], [localName], [CodeIso2], [idRegion], [idgovform], [idheadofstate]) VALUES (N'AGO', N'Angola                                              ', 1246700, 1975, 12878000, 38.3, 6648, 7984, N'Angola                                       ', N'AO', 6, 5, 63)
GO
SET IDENTITY_INSERT [dbo].[Produits] ON 

INSERT [dbo].[Produits] ([IdProduit], [IdSejour], [NbPlaces], [DateDepart], [Prix]) VALUES (2, 1, 50, CAST(N'2015-11-09' AS Date), CAST(15000 AS Numeric(18, 0)))
INSERT [dbo].[Produits] ([IdProduit], [IdSejour], [NbPlaces], [DateDepart], [Prix]) VALUES (1002, 1005, 25, CAST(N'2015-10-15' AS Date), CAST(900 AS Numeric(18, 0)))
INSERT [dbo].[Produits] ([IdProduit], [IdSejour], [NbPlaces], [DateDepart], [Prix]) VALUES (1003, 6, 10, CAST(N'2015-12-15' AS Date), CAST(259 AS Numeric(18, 0)))
SET IDENTITY_INSERT [dbo].[Produits] OFF
INSERT [dbo].[Regions] ([idRegion], [name], [idContinent]) VALUES (1, N'Antarctica', 2)
INSERT [dbo].[Regions] ([idRegion], [name], [idContinent]) VALUES (2, N'Australia and New Zealand', 6)
INSERT [dbo].[Regions] ([idRegion], [name], [idContinent]) VALUES (3, N'Baltic Countries', 4)
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([IdReservation], [IdProduit], [Quantity], [IdUtilisateur]) VALUES (1, 1002, 2, 1)
INSERT [dbo].[Reservations] ([IdReservation], [IdProduit], [Quantity], [IdUtilisateur]) VALUES (2, 1005, 5, 2)
INSERT [dbo].[Reservations] ([IdReservation], [IdProduit], [Quantity], [IdUtilisateur]) VALUES (3, 2, 1, 3)
SET IDENTITY_INSERT [dbo].[Reservations] OFF
SET IDENTITY_INSERT [dbo].[Sejours] ON 

INSERT [dbo].[Sejours] ([IdSejour], [IdHotel], [Duree]) VALUES (5, 2, 1)
INSERT [dbo].[Sejours] ([IdSejour], [IdHotel], [Duree]) VALUES (3, 2, 5)
INSERT [dbo].[Sejours] ([IdSejour], [IdHotel], [Duree]) VALUES (1, 2, 11)
SET IDENTITY_INSERT [dbo].[Sejours] OFF
SET IDENTITY_INSERT [dbo].[Utilisateurs] ON 

INSERT [dbo].[Utilisateurs] ([IdUtilisateur], [Nom], [Prenom], [Telephone]) VALUES (1, N'Hungis', N'Martina', N'0123456789')
INSERT [dbo].[Utilisateurs] ([IdUtilisateur], [Nom], [Prenom], [Telephone]) VALUES (2, N'Martinez', N'Jacques', N'0198765432')
INSERT [dbo].[Utilisateurs] ([IdUtilisateur], [Nom], [Prenom], [Telephone]) VALUES (3, N'Camara', N'Aramac', N'0144778899')
SET IDENTITY_INSERT [dbo].[Utilisateurs] OFF
INSERT [dbo].[Villes] ([idVille], [name], [CodeIso3], [district], [population], [isCapital]) VALUES (1, N'Kabul                              ', N'AFG', N'Kabol               ', 1780000, 1)
INSERT [dbo].[Villes] ([idVille], [name], [CodeIso3], [district], [population], [isCapital]) VALUES (2, N'Qandahar                           ', N'AFG', N'Qandahar            ', 237500, 0)
INSERT [dbo].[Villes] ([idVille], [name], [CodeIso3], [district], [population], [isCapital]) VALUES (3, N'Herat                              ', N'AFG', N'Herat               ', 186800, 0)
GO
/****** Object:  Index [ak_Produit]    Script Date: 8/27/2015 8:54:16 AM ******/
ALTER TABLE [dbo].[Produits] ADD  CONSTRAINT [ak_Produit] UNIQUE NONCLUSTERED 
(
	[IdProduit] ASC,
	[DateDepart] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ak_Sejour]    Script Date: 8/27/2015 8:54:16 AM ******/
ALTER TABLE [dbo].[Sejours] ADD  CONSTRAINT [ak_Sejour] UNIQUE NONCLUSTERED 
(
	[IdHotel] ASC,
	[Duree] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Hotels]  WITH CHECK ADD  CONSTRAINT [Hotels_Categories_fk] FOREIGN KEY([Categorie])
REFERENCES [dbo].[Categories] ([IdCategorie])
GO
ALTER TABLE [dbo].[Hotels] CHECK CONSTRAINT [Hotels_Categories_fk]
GO
ALTER TABLE [dbo].[Hotels]  WITH CHECK ADD  CONSTRAINT [Hotels_Villes_fk] FOREIGN KEY([IdVille])
REFERENCES [dbo].[Villes] ([idVille])
GO
ALTER TABLE [dbo].[Hotels] CHECK CONSTRAINT [Hotels_Villes_fk]
GO
ALTER TABLE [dbo].[Pays]  WITH CHECK ADD  CONSTRAINT [Pays_Regions_fk] FOREIGN KEY([idRegion])
REFERENCES [dbo].[Regions] ([idRegion])
GO
ALTER TABLE [dbo].[Pays] CHECK CONSTRAINT [Pays_Regions_fk]
GO
ALTER TABLE [dbo].[Produits]  WITH CHECK ADD  CONSTRAINT [fk_produits_sejours] FOREIGN KEY([IdSejour])
REFERENCES [dbo].[Sejours] ([IdSejour])
GO
ALTER TABLE [dbo].[Produits] CHECK CONSTRAINT [fk_produits_sejours]
GO
ALTER TABLE [dbo].[Regions]  WITH CHECK ADD  CONSTRAINT [Regions_Continents_fk] FOREIGN KEY([idContinent])
REFERENCES [dbo].[Continents] ([idContinent])
GO
ALTER TABLE [dbo].[Regions] CHECK CONSTRAINT [Regions_Continents_fk]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [fk_reservations_produits] FOREIGN KEY([IdProduit])
REFERENCES [dbo].[Produits] ([IdProduit])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [fk_reservations_produits]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [Reservations_Utilisateurs_fk] FOREIGN KEY([IdUtilisateur])
REFERENCES [dbo].[Utilisateurs] ([IdUtilisateur])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [Reservations_Utilisateurs_fk]
GO
ALTER TABLE [dbo].[Sejours]  WITH CHECK ADD  CONSTRAINT [fk_sejours_hotels] FOREIGN KEY([IdHotel])
REFERENCES [dbo].[Hotels] ([IdHotel])
GO
ALTER TABLE [dbo].[Sejours] CHECK CONSTRAINT [fk_sejours_hotels]
GO
ALTER TABLE [dbo].[Villes]  WITH CHECK ADD  CONSTRAINT [Villes_Pays_fk] FOREIGN KEY([CodeIso3])
REFERENCES [dbo].[Pays] ([CodeIso3])
GO
ALTER TABLE [dbo].[Villes] CHECK CONSTRAINT [Villes_Pays_fk]
GO
