@model List<int>


<div class="panel panel-info">
    <div class=" panel-heading">
        <h4 class="alert-info">Découvrez-nous!</h4>
    </div>

    <div class="panel-body">


        <div class="active">
            <h4>@Model.ElementAt(0) séjours en vente!</h4>
        </div>
        <br />
        <div class="active">
            <h4>@Model.ElementAt(1) abonnés!</h4>
        </div>

        
    </div>
</div>



